In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost

In [3]:
%%sql
USE swiggy_da;

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [4]:
%%sql
# We added some data through the Front end and checking here 
SELECT * 
FROM orders
ORDER BY order_id DESC

 * mysql+mysqlconnector://root:***@localhost
3 rows affected.

[(19, 1, 1, datetime.datetime(2026, 1, 15, 13, 35, 44), 1500, 'CONFIRMED'),
 (18, 1, 1, datetime.datetime(2026, 1, 15, 13, 31, 34), 250, 'CONFIRMED'),
 (10, 1, 1, datetime.datetime(2026, 1, 15, 12, 27, 42), 470, 'CONFIRMED')]

In [9]:
%%sql
# that works perfectly lets add more restaurents and menu items for DA 
INSERT INTO restaurants (name, cuisine, is_veg, price_for_two, rating)
VALUES
('Royal Biryani House', 'Biryani', 0, 600, 4.5),
('The Pizza Box', 'Pizza', 1, 800, 4.2),
('Wok & Roll', 'Chinese', 0, 500, 3.9),
('Sweet Truth', 'Desserts', 1, 400, 4.8),
('Dhaba 1986', 'North Indian', 0, 700, 4.6),
('Salad Days', 'Healthy', 1, 650, 4.4);

 * mysql+mysqlconnector://root:***@localhost
6 rows affected.

[]

In [10]:
%%sql
select * from restaurants;

 * mysql+mysqlconnector://root:***@localhost
7 rows affected.

[(1, 'Spicy Hub', 'North Indian', 0, 500, Decimal('4.3')),
 (2, 'Royal Biryani House', 'Biryani', 0, 600, Decimal('4.5')),
 (3, 'The Pizza Box', 'Pizza', 1, 800, Decimal('4.2')),
 (4, 'Wok & Roll', 'Chinese', 0, 500, Decimal('3.9')),
 (5, 'Sweet Truth', 'Desserts', 1, 400, Decimal('4.8')),
 (6, 'Dhaba 1986', 'North Indian', 0, 700, Decimal('4.6')),
 (7, 'Salad Days', 'Healthy', 1, 650, Decimal('4.4'))]

In [12]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(2, 'Margherita Pizza', 399, 'Pizza', 1),
(2, 'Farmhouse Pizza', 499, 'Pizza', 1),
(2, 'Pepperoni Pizza', 549, 'Pizza', 0),
(2, 'Garlic Bread', 199, 'Starter', 1);

 * mysql+mysqlconnector://root:***@localhost
4 rows affected.

[]

In [14]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(3, 'Hakka Noodles', 180, 'Main Course', 1),
(3, 'Veg Manchurian', 200, 'Starter', 1),
(3, 'Chilli Chicken', 240, 'Main Course', 0),
(3, 'Fried Rice', 190, 'Main Course', 1);

 * mysql+mysqlconnector://root:***@localhost
4 rows affected.

[]

In [15]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(4, 'Choco Lava Cake', 99, 'Dessert', 1),
(4, 'Red Velvet Pastry', 150, 'Dessert', 1),
(4, 'Brownie with Ice Cream', 180, 'Dessert', 1);

 * mysql+mysqlconnector://root:***@localhost
3 rows affected.

[]

In [16]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(5, 'Butter Chicken', 450, 'Main Course', 0),
(5, 'Dal Makhani', 320, 'Main Course', 1),
(5, 'Garlic Naan', 60, 'Bread', 1),
(5, 'Jeera Rice', 180, 'Rice', 1);

 * mysql+mysqlconnector://root:***@localhost
4 rows affected.

[]

In [17]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(6, 'Exotic Fruit Bowl', 290, 'Salad', 1),
(6, 'Quinoa Tabbouleh', 350, 'Salad', 1),
(6, 'Grilled Veg Salad', 320, 'Salad', 1);

 * mysql+mysqlconnector://root:***@localhost
3 rows affected.

[]

In [4]:
%%sql
select * from menu_items
limit 10;

 * mysql+mysqlconnector://root:***@localhost
10 rows affected.

[(1, 2, 'Chicken Biryani', 250, 'Main Course', 0),
 (2, 1, 'Paneer Butter Masala', 220, 'Main Course', 1),
 (3, 3, 'Margherita Pizza', 399, 'Pizza', 1),
 (4, 3, 'Farmhouse Pizza', 499, 'Pizza', 1),
 (5, 3, 'Pepperoni Pizza', 549, 'Pizza', 0),
 (6, 3, 'Garlic Bread', 199, 'Starter', 1),
 (7, 4, 'Hakka Noodles', 180, 'Main Course', 1),
 (8, 4, 'Veg Manchurian', 200, 'Starter', 1),
 (9, 4, 'Chilli Chicken', 240, 'Main Course', 0),
 (10, 4, 'Fried Rice', 190, 'Main Course', 1)]

In [7]:
%%sql
SELECT restaurant_id, COUNT(*) AS items
FROM menu_items
GROUP BY restaurant_id;

 * mysql+mysqlconnector://root:***@localhost
7 rows affected.

[(1, 1), (2, 1), (3, 4), (4, 4), (5, 3), (6, 4), (7, 3)]

In [68]:
%%sql
# We added some data through the Front end and checking here 
SELECT * 
FROM orders
ORDER BY order_id DESC

 * mysql+mysqlconnector://root:***@localhost
5 rows affected.

[(21, 1, 2, datetime.datetime(2026, 1, 15, 14, 4, 37), 1078, 'CONFIRMED'),
 (20, 1, 1, datetime.datetime(2026, 1, 15, 13, 49, 13), 2790, 'CONFIRMED'),
 (19, 1, 1, datetime.datetime(2026, 1, 15, 13, 35, 44), 1500, 'CONFIRMED'),
 (18, 1, 1, datetime.datetime(2026, 1, 15, 13, 31, 34), 250, 'CONFIRMED'),
 (10, 1, 1, datetime.datetime(2026, 1, 15, 12, 27, 42), 470, 'CONFIRMED')]

In [5]:
%%sql
# checking wheather the menu are correct or not 
SELECT 
  r.restaurant_id,
  r.name AS restaurant,
  m.item_name,
  m.price
FROM restaurants r
JOIN menu_items m 
  ON r.restaurant_id = m.restaurant_id
ORDER BY r.restaurant_id, m.item_name;

 * mysql+mysqlconnector://root:***@localhost
20 rows affected.

[(1, 'Spicy Hub', 'Paneer Butter Masala', 220),
 (2, 'Royal Biryani House', 'Chicken Biryani', 250),
 (3, 'The Pizza Box', 'Farmhouse Pizza', 499),
 (3, 'The Pizza Box', 'Garlic Bread', 199),
 (3, 'The Pizza Box', 'Margherita Pizza', 399),
 (3, 'The Pizza Box', 'Pepperoni Pizza', 549),
 (4, 'Wok & Roll', 'Chilli Chicken', 240),
 (4, 'Wok & Roll', 'Fried Rice', 190),
 (4, 'Wok & Roll', 'Hakka Noodles', 180),
 (4, 'Wok & Roll', 'Veg Manchurian', 200),
 (5, 'Sweet Truth', 'Brownie with Ice Cream', 180),
 (5, 'Sweet Truth', 'Choco Lava Cake', 99),
 (5, 'Sweet Truth', 'Red Velvet Pastry', 150),
 (6, 'Dhaba 1986', 'Butter Chicken', 450),
 (6, 'Dhaba 1986', 'Dal Makhani', 320),
 (6, 'Dhaba 1986', 'Garlic Naan', 60),
 (6, 'Dhaba 1986', 'Jeera Rice', 180),
 (7, 'Salad Days', 'Exotic Fruit Bowl', 290),
 (7, 'Salad Days', 'Grilled Veg Salad', 320),
 (7, 'Salad Days', 'Quinoa Tabbouleh', 350)]

-- Notebook 2: Data Ingestion, Backend Integration & Data Generation
-- ----------------------------------------------------------------
-- In this notebook, we document how data was ingested into the database
-- using a combination of frontend simulation, backend APIs, and
-- Python-based data generation scripts.
--
-- The frontend (React) was used to simulate user actions such as
-- selecting restaurants, adding items to cart, and placing orders.
-- These actions triggered API calls to a Flask backend.
--
-- The backend validated the requests, enforced foreign key constraints,
-- and inserted data into the relational database.
--
-- In addition to manual UI-based orders, bulk transactional data
-- was generated using a Python script to create a realistic dataset
-- for analytical purposes.

In [28]:
%%sql
-- Verify restaurant master data availability
-- This confirms that restaurants were inserted before order generation
SELECT COUNT(*) AS total_restaurants
FROM restaurants;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(7,)]

In [29]:
%%sql
-- Verify menu items linked to restaurants
-- Each menu item is associated with a restaurant_id
SELECT COUNT(*) AS total_menu_items
FROM menu_items;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(20,)]

-- Transactional data generation was performed using a Python script
-- (generate_data.py).
--
-- The script programmatically created:
--  - Users (auto-created if not already present)
--  - Orders with realistic timestamps
--  - Order items with quantities and prices
--  - Delivery records with expected vs actual delivery times
--  - Reviews linked only to delivered orders
--
-- This approach allows large-scale data generation while maintaining
-- referential integrity and realistic business behavior.

In [30]:
%%sql
-- Quick check: total users generated
SELECT COUNT(*) AS total_users
FROM users;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(500,)]

In [36]:
%%sql
-- Quick check: total orders generated
SELECT COUNT(*) AS total_orders
FROM orders;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(5015,)]

In [35]:
%%sql
-- Quick check: total order line items
SELECT COUNT(*) AS total_order_items
FROM order_items;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(9776,)]

In [34]:
%%sql
-- Quick check: delivery records generated
SELECT COUNT(*) AS total_deliveries
FROM deliveries;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(4080,)]

In [39]:
%%sql
-- Quick check: customer reviews generated
SELECT COUNT(*) AS total_reviews
FROM reviews;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(4066,)]

In [40]:
%%sql
-- Verify that each order is linked to a valid user and restaurant
SELECT 
    COUNT(*) AS valid_orders
FROM orders o
JOIN users u ON o.user_id = u.user_id
JOIN restaurants r ON o.restaurant_id = r.restaurant_id;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(5015,)]

## **Detailed Summary â€“ Data Ingestion & Generation Pipeline**

This notebook documents the complete **data ingestion pipeline** used to populate a **Swiggy-like food delivery database** with realistic and **analysis-ready data**.

---

## **Master Data Initialization**

The process began with the insertion of **master data**, including **restaurants** and their associated **menu items**. These tables represent relatively **static entities** and form the foundation for all **transactional activity** in the system.

---

## **Frontend-Based User Simulation**

A **frontend application built using React** was used as a **simulation layer** to mimic real-world user behavior. Through the user interface, users were able to:

- **Select their location**
- **Browse available restaurants**
- **View restaurant-specific menu items**
- **Add items to a cart**
- **Place food orders**

The frontend acted purely as a **data generation interface**, enabling realistic user interaction patterns.

---

## **Backend Validation & Data Insertion**

Each frontend interaction triggered HTTP requests to a **Flask backend API**. The backend served as the **validation and control layer**, responsible for:

- **Validating incoming requests**
- **Enforcing business rules**
- **Maintaining referential integrity**
- **Inserting clean and consistent data into the database**

To ensure uninterrupted data flow, the backend automatically created **user records** when previously unseen user identifiers were encountered. This mirrors real-world systems where users may place orders without explicit pre-registration.

---

## **Bulk Transactional Data Generation**

In addition to UI-driven interactions, a **Python-based script (`generate_data.py`)** was used to generate **bulk transactional data**. This script programmatically created large volumes of realistic records, including:

- **Users across multiple geographic locations**
- **Orders distributed across different dates and times**
- **Multiple items per order with varying quantities**
- **Delivery records with expected and actual delivery durations**
- **Customer reviews linked only to completed (delivered) orders**

This approach enabled the simulation of **real-world scale and variability**, which is essential for meaningful data analytics.

---

## **Initial Sanity Checks**

After data generation, **basic sanity checks** were performed using simple `SELECT` and `COUNT` queries. These checks confirmed the presence of data across all **core transactional tables**, including:

- **orders**
- **order_items**
- **deliveries**
- **reviews**

These checks verify that the **data ingestion pipeline executed successfully**.

---

## **Transition to Validation & Analysis**

At this stage, the focus is intentionally limited to **data presence and pipeline completeness**. Detailed **data validation**, **integrity checks**, and **cross-table consistency analysis** are deferred to the next notebook.

With the successful completion of this stage, the database now contains a **realistic, interconnected dataset** that closely resembles a **production food delivery system** and is fully prepared for **in-depth validation and business-oriented SQL analysis**.