In [2]:
%load_ext sql

In [3]:
%sql mysql+mysqlconnector://root:root@localhost

In [4]:
%%sql
CREATE DATABASE IF NOT EXISTS swiggy_da;
USE swiggy_da;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.
0 rows affected.

[]

In [23]:
%%sql
# CREATING TABLES WHICH NEEDED
CREATE TABLE users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    location_area VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost
(mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'users' already exists
[SQL: CREATE TABLE users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    location_area VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [15]:
%%sql
CREATE TABLE restaurants (
    restaurant_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    cuisine VARCHAR(100) NOT NULL,
    is_veg BOOLEAN NOT NULL,
    price_for_two INT NOT NULL,
    rating DECIMAL(2,1) CHECK (rating BETWEEN 0 AND 5)
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [16]:
%%sql
CREATE TABLE menu_items (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    restaurant_id INT NOT NULL,
    item_name VARCHAR(100) NOT NULL,
    price INT NOT NULL,
    category VARCHAR(50),
    is_veg BOOLEAN NOT NULL,
    CONSTRAINT fk_menu_restaurant
        FOREIGN KEY (restaurant_id)
        REFERENCES restaurants(restaurant_id)
        ON DELETE CASCADE
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [17]:
%%sql
CREATE TABLE orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    restaurant_id INT NOT NULL,
    order_time DATETIME NOT NULL,
    total_amount INT NOT NULL,
    order_status VARCHAR(30) NOT NULL,
    CONSTRAINT fk_orders_user
        FOREIGN KEY (user_id)
        REFERENCES users(user_id),
    CONSTRAINT fk_orders_restaurant
        FOREIGN KEY (restaurant_id)
        REFERENCES restaurants(restaurant_id)
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [18]:
%%sql
CREATE TABLE order_items (
    order_item_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL,
    item_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0),
    item_price INT NOT NULL,
    CONSTRAINT fk_orderitems_order
        FOREIGN KEY (order_id)
        REFERENCES orders(order_id)
        ON DELETE CASCADE,
    CONSTRAINT fk_orderitems_item
        FOREIGN KEY (item_id)
        REFERENCES menu_items(item_id)
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [19]:
%%sql
CREATE TABLE deliveries (
    delivery_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL,
    expected_minutes INT NOT NULL,
    actual_minutes INT NOT NULL,
    delivery_status VARCHAR(30) NOT NULL,
    CONSTRAINT fk_delivery_order
        FOREIGN KEY (order_id)
        REFERENCES orders(order_id)
        ON DELETE CASCADE
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [20]:
%%sql
CREATE TABLE reviews (
    review_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL UNIQUE,
    rating INT CHECK (rating BETWEEN 1 AND 5),
    review_time DATETIME NOT NULL,
    CONSTRAINT fk_reviews_order
        FOREIGN KEY (order_id)
        REFERENCES orders(order_id)
        ON DELETE CASCADE
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [4]:
%%sql
# ADDED A USER 1 MANUALLY FOR TESTING THE API 
INSERT INTO users (location_area)
VALUES ('South Delhi');

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM users;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(1, 'South Delhi', datetime.datetime(2026, 1, 15, 12, 24, 4))]

In [6]:
%%sql
# AND ALSO INSERTED SOME RESTAURENT AND MENU_ITEMS 
INSERT INTO restaurants (name, cuisine, is_veg, price_for_two, rating)
VALUES ('Spicy Hub', 'North Indian', FALSE, 500, 4.3);

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[]

In [7]:
%%sql
select * from restaurants

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(1, 'Spicy Hub', 'North Indian', 0, 500, Decimal('4.3'))]

In [8]:
%%sql
INSERT INTO menu_items (restaurant_id, item_name, price, category, is_veg)
VALUES
(1, 'Chicken Biryani', 250, 'Main Course', FALSE),
(1, 'Paneer Butter Masala', 220, 'Main Course', TRUE);

 * mysql+mysqlconnector://root:***@localhost
2 rows affected.

[]

In [9]:
%%sql
select * from menu_items

 * mysql+mysqlconnector://root:***@localhost
2 rows affected.

[(1, 1, 'Chicken Biryani', 250, 'Main Course', 0),
 (2, 1, 'Paneer Butter Masala', 220, 'Main Course', 1)]

In [10]:
%%sql
# WHAT WE DID HERE IS USED API TO GET DATA FROM FRONT END AND IT WORKED AND WE HAVE DATA HERE 
SELECT * FROM orders;

 * mysql+mysqlconnector://root:***@localhost
1 rows affected.

[(10, 1, 1, datetime.datetime(2026, 1, 15, 12, 27, 42), 470, 'CONFIRMED')]

In [11]:
%%sql
SELECT * FROM order_items;

 * mysql+mysqlconnector://root:***@localhost
2 rows affected.

[(2, 10, 1, 1, 250), (3, 10, 2, 1, 220)]

## Project Overview: Swiggy End-to-End SQL Data Analysis System

This project simulates a real-world **Swiggy-like food delivery platform** with the goal of performing **end-to-end SQL data analysis** on user orders, restaurant performance, and delivery efficiency.

The focus of this project is **data generation, database design, and analysis**, not building a full production app.

---

## Frontend Simulation (Data Source)

A Swiggy-style frontend UI was generated using AI to simulate realistic user behavior such as:
- Browsing restaurants
- Selecting food items
- Adding items to cart
- Placing an order

The frontend is used **only as a data generator**, mimicking how users interact with a food delivery platform.

No authentication, payment, or personal user details were implemented, as they are not required for data analysis.

---

##  Database Design (Schema Creation)

A dedicated MySQL database (`swiggy_da`) was created with a **normalized relational schema** to store transactional data.

The following tables were designed with proper **primary keys and foreign key constraints**:

- `users` – stores user location data  
- `restaurants` – restaurant metadata  
- `menu_items` – food items linked to restaurants  
- `orders` – order-level details  
- `order_items` – items within each order  
- `deliveries` – delivery time and ETA data  
- `reviews` – post-delivery ratings  

Foreign keys were intentionally enforced to maintain **data integrity**, similar to real production systems.

---

##  Backend Integration (Flask API)

A lightweight backend was built using **Flask** to act as an API layer between the frontend and the database.

Key responsibilities of the backend:
- Receive order data via POST requests
- Insert orders and order items into MySQL
- Simulate delivery time (expected vs actual)
- Enforce database constraints during insertion

This step ensures that all data entering the database follows a **realistic ingestion pipeline**.

---

## Initial Data Setup

Before placing orders, required parent records were inserted manually:
- A sample user was added to the `users` table
- A restaurant was added to the `restaurants` table
- Menu items were added to the `menu_items` table

This was necessary because foreign key constraints require parent records to exist before inserting child records.

---

##  Order Simulation (End-to-End Flow)

A POST request was sent to the Flask API simulating a real user placing an order:
- User selects a restaurant
- Chooses food items
- Confirms the order

The backend successfully:
- Created a new record in `orders`
- Inserted corresponding rows in `order_items`
- Generated delivery metrics in `deliveries`

The API returned a success response, confirming the order was stored correctly.

---

##  Verification & Data Integrity Check

After the API call, SQL queries were executed to verify:
- Orders were correctly stored
- Items were linked to the order
- Delivery information was recorded
- All foreign key relationships were preserved

This confirms that the **entire pipeline works end-to-end**.

---


This setup closely mirrors how data flows in real food delivery platforms and forms a strong foundation for SQL-based data analysis and business insights.